[submodule "content/books"]
	path = content/books
	url = https://github.com/ilia-iliev/booknote.git
[submodule "content/papers"]
	path = content/papers
	url = https://github.com/ilia-iliev/papernote.git
